# Data Cleaning & Feature Engineering


## Prepare FMCG daily sales data for market, pricing, promotion, and competitive analysis.

# Import Libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load Data

In [3]:
df = pd.read_csv("FMCG_2022_2024.csv")

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190757 entries, 0 to 190756
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date             190757 non-null  object
 1   sku              190757 non-null  object
 2   brand            190757 non-null  object
 3   segment          190757 non-null  object
 4   category         190757 non-null  object
 5   channel          190757 non-null  object
 6   region           190757 non-null  object
 7   pack_type        190757 non-null  object
 8   price_unit       190757 non-null  float64
 9   promotion_flag   190757 non-null  int64
 10  delivery_days    190757 non-null  int64
 11  stock_available  190757 non-null  int64
 12  delivered_qty    190757 non-null  int64
 13  units_sold       190757 non-null  int64
dtypes: float64(1), int64(5), object(8)
memory usage: 20.4+ MB

,date,sku,brand,segment,category,channel,region,pack_type,price_unit,promotion_flag,delivery_days,stock_available,delivered_qty,units_sold
0,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-Central,Multipack,2.38,0,1,141,128,9
1,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-North,Single,1.55,1,3,0,129,0
2,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Retail,PL-South,Carton,4.00,0,5,118,161,8
3,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-Central,Single,5.16,0,2,81,114,7
4,2022-01-21,MI-006,MiBrand1,Milk-Seg3,Milk,Discount,PL-North,Single,7.66,0,4,148,204,12

# Clean Data

In [4]:
# clean data
df.columns = df.columns.str.lower()

df['date'] = pd.to_datetime(df['date'])

df = df[df['units_sold'] >= 0]
df = df[df['price_unit'] > 0]

# Feature Engineering

In [6]:
#create features
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.to_period('M')
df['week'] = df['date'].dt.isocalendar().week

df['revenue'] = df['units_sold'] * df['price_unit']

df['out_of_stock_flag'] = (df['stock_available'] == 0).astype(int)

df['fulfillment_rate'] = df['delivered_qty'] / df['units_sold']

# Save DataSet

In [8]:
df.to_parquet("fmcg_cleaned.parquet", index=False)